body {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: orange;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

header{
	text-align:center;
}

img {
  width: 300px;
  height: 200px;
}


.topnav {
  overflow: hidden;
  background-color: darkcyan;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightseagreen;
  color: black;
}

.topnav a.active {
  background-color: lightseagreen;
  color: #000000;
}

form {
  text-align:center;
  padding: 15px 15px;
  
}

#description{
  height:50px;
  width:400px;
  font-size:14pt;

}

input {
  padding: 2px;
  box-shadow: 3px 3px 5px grey;
  font-size: 18px;
  font-weight: 500;
  width: 300px;
}

.boxes{
  padding: 0px;
  font-size:70px;

}
#john_pic{
  display: block;
  margin-right: auto;
  width: 25%;
  height:auto;
  padding: 5px;
  border-radius:15px ;
  border: 2px solid #000000;
}
.radio-group {
  display: flex;
  justify-content: space-between; /* Ensures the label and radio button are spaced out */
  align-items: center; /* Aligns label and radio button vertically */
  margin-bottom: 10px;
  width: 300px; /* Adjust width as needed */
  margin: 0 auto; /* Centers the div on the page */
}

/* Ensure radio buttons are smaller and aligned properly */
input[type="radio"] {
  width: auto; /* Keeps radio buttons at default size */
  margin-left: 10px; /* Adds space between label and radio button */
}
/*Trying to get text on about page to go to right of image*/
#bio_graph{
  text-align:right;

}
#submit:hover{
  background-color:blue;
}

