body {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: orange;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

header{
	text-align:center;
}

img {
  width: 300px;
  height: 200px;
}


.topnav {
  overflow: hidden;
  background-color: darkcyan;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightseagreen;
  color: black;
}

.topnav a.active {
  background-color: lightseagreen;
  color: #000000;
}

form {
  text-align:center;
  padding: 15px 15px;
  
}

#description{
  height:50px;
  width:400px;
  font-size:14pt;

}

input {
  padding: 2px;
  box-shadow: 3px 3px 5px grey;
  font-size: 18px;
  font-weight: 500;
  width: 300px;
}

.boxes{
  padding: 0px;
  font-size:70px;
}

